#topbar
{
    background-color: #1f1f1f;
    height: 20px;
    width: 100%;
}

body{
    
    background-color:white;
    
}
#container
{

    background-color: white;
    height: 100px;
    width: 70%;
    margin: 0px auto;
    margin-top: 2%;
}
#header img
{
    float: left;
    height:100px;
    width: 30%;
    
    
}
#header nav
{
    
    margin-top: 5%;
    display: block;
    float:  right;
    flex-direction: row;
    font-size: 16px;
    
}
#header nav a{
    margin: 0 5px;
    padding: 5px 15px;
    text-decoration: none;
    color: black;

    background-color: white;
}
.container1
{
    background: white;
    width:80%;
    margin:50px auto;
    margin-top: 2%;
}
.contact-box
{
    background:#fff;
    display: flex;
}
.contact-left
{
    
    flex-basis: 60%;
    padding: 40px 60px;
    background-color: yellow;
}
.contact-right
{
    flex-basis: 40%;
    padding: 40px ;
    background: blue;
    color:#fff;
}
h1{
    margin-bottom: 10px;
}
.container1 p{
    margin-bottom: 40px;
    padding:5px;
    
}
.input-row
{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group
{
    flex-basis: 45%;

}
input{
    width:100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea
{
    width:100%;
    border:1px solid #ccc;
    outline: none;
    padding:10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display:block;
    color: #1c00b5;
}
button
{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color:#fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}
.contact-left h3
{
    color:#1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3
{
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child
{
    padding-right: 20px;

}
tr td
{
    padding-top: 20px;
}
#footer{
    width:100%;
    Height: 40px;
    background-color: black;
    clear:both;
    margin-top: 10px;
}
#footer p
{
    color:white;
    float: right;
    margin-right: 20px;
}
#footer a
{
    float: left;
    text-align: center;
    text-decoration: none;
    color:white;
    padding: 5px 15px ;
    margin: 0px 10px ;
}
